[Unit]
Description=Lsminer Reboot Service
After=lightdm.service

[Service]
User=root
Type=simple
ExecStart=/usr/bin/python3 /root/lsminer/lsminer/daemon.py &
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
