[Unit]
Description=Lsminer Miner Service
After=lightdm.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/lsminer/lsminer/boot/miner start

[Install]
WantedBy=graphical.target
