[Unit]
Description=Lsminer Miner Service
After=lightdm.service

[Service]
Type=simple
#RemainAfterExit=yes
ExecStart=/home/lsminer/lsminer/boot/miner.sh start
Restart=always
RestartSec=3

[Install]
WantedBy=graphical.target
