[Unit]
Description=Lsminer Prepare Service For Driver
Before=lightdm.service

[Service]
User=root
Type=oneshot
RemainAfterExit=yes
#ExecStartPre=/root/mrminer/boot/driver &
ExecStart=/home/lsminer/lsminer/boot/driver.sh &

[Install]
WantedBy=sysinit.target
