[Unit]
Description=Teleconsole Service
After=lightdm.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/lsminer/lsminer/boot/console start
ExecStopPost=/home/lsminer/lsminer/boot/console stop

[Install]
WantedBy=graphical.target